<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>ContactList</title>
    </head>
    <body>
        <h1 align="center">Contact List</h1>
        <table align="center" border="1">
            <tr>
                <td>Name</td>
                <td>Mobile</td>
                <td>Vpmn</td>
                <td>Address</td>
            </tr>
            <tr>
                <td>Shi Hang</td>
                <td>18233333333</td>
                <td>63333</td>
                <td>TaiYuan</td>
            </tr>
            <tr>
                <td>Xiao Bai</td>
                <td>18233333333</td>
                <td>63333</td>
                <td>TaiYuan</td>
            </tr>
            <tr>
                <td>Xu Shuang</td>
                <td>18233333333</td>
                <td>63333</td>
                <td>TaiYuan</td>
            </tr>
        </table>
    </body>
</html>