<!DOCTYPE html>
<html>
<head>
    <title>contactList</title>

</head>
<body>
    <h1 align="center">Contact List</h1>
    <table border="1" align="center">
        <tr>
            <th>Name</th>
            <th>Mobile</th>
            <th>Vpmn</th>
            <th>Address</th>
        </tr>
        <tr>
            <td>ShiHang</td>
            <td>15235432994</td>
            <td>652994</td>
            <td>shanxi</td>
        </tr>
        <tr>
            <td>XiaoBai</td>
            <td>18222223333</td>
            <td>652224</td>
            <td>taiyuan</td>
        </tr>
    </table>
</body>
</html>