<html lang="en-US">
    <head>
        <title>ContactShow</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
        <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div class="container">
            <h1 align="center">show</h1>
            <table align="center" border="1">
                <tr>
                    <td>Name</td>
                    <td>ShiHang</td>
                </tr>
                <tr>
                    <td>Mobile</td>
                    <td>15235432994</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>shihang@qq.com</td>
                </tr>
                <tr>
                    <td>Vpmn</td>
                    <td>652994</td>
                </tr>
                <tr>
                    <td>HomeAddress</td>
                    <td>TaiYuan</td>
                </tr>
                <tr>
                    <td>OfficeAddress</td>
                    <td>BeiZhang</td>
                </tr>
                <tr>
                    <td>Job</td>
                    <td>HR</td>
                </tr>
                <tr>
                    <td>JobLevel</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Memo</td>
                    <td>Memo</td>
                </tr>
            </table>
        </div>
    </body>
</html>